:root {
    --color-titulos: white;
    --color-texto: white;
    --color-menuitems: white;
    --somba-menuitems: #363636;
}

/* FUENTES */
@font-face {
    font-family: Frutiger;
    src: url(/fonts/Frutiger.ttf);
}

@font-face {
    font-family: FrutigerBold;
    src: url(/fonts/Frutiger_bold.ttf);
}

* {
    padding-top: 0;
    margin-left: 0;
    margin-top: 0;
}

button {
    background: rgba(0, 12, 255, 0);
    border-radius: 16px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-color: white;
    transition-duration: 0.4s;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
}

button:hover {
    background-color: #fe8b00; 
    color: white;
}

.buttonlogo, .audiobutton {
    border-radius: 70px;
}

html {
    background-image: url('/img/aquarium4.webp');
    background-size: cover;
    cursor: url("/img/cursor.ico"), auto;
}

/* TITULOS Y PARRAFOS*/
h1 {
    color: var(--color-titulos); 
    font-size: 52px;
    font-family: FrutigerBold;
}

p {
    color: var(--color-texto);
    font-family: Frutiger;
    font-size: 23px;
}

h3 {
    color: var(--color-texto);
    font-family: FrutigerBold;
    font-size: 33px;
}

strong {
    color: var(--color-texto);
    font-family: FrutigerBold;
    font-size: 25px;
}

.textoinicio {
    border-radius: 15px;  
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    align-items: center;
    justify-content: center;

    padding: 20px;
    margin: 55px;
    margin-top: 15px;
    text-shadow: 3px 3px 5px black;
  
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.buttontexto {
    display: flex;
    grid-template-columns: 1fr 2fr ;
    grid-template-areas: 
    "fish1 text1 ";
    align-items: center;
    text-align: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-content: center;
    color: white;
    font-size: 25px;
    margin-left: 33%;
}

/* MULTIMEDIA */
.multimedia {
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-gap: 50px;
    margin: 35px;
    justify-content: space-around;
    justify-items: center;
    align-items: center;
}

video, img {
    border-radius: 15px;
    display: flex;
}

.imginicio, .videoinicio, .musicainicio {
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);

    padding: 2%;
    border-radius: 15px;
    text-align: center;
    position: static;
    text-shadow: 3px 3px 5px black;
}


header {
    top: 0;
    position: sticky;
    padding-top: 1px;
    padding-bottom: 0px;
    font-family: FrutigerBold;


    background: rgba(30, 30, 30, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);


    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 300;
}

.menu {
    padding-top: 20px;
    padding-left: 0px;
}

.logo {
    margin: 5px;
    margin-top: 0px;
    padding-top: 0px;
    padding-left: 5px;
    padding-right: 0px;
}

.audioinicio {
    align-items: flex-end;
}

ul {
    list-style-type: none;
}

li {
    display: inline;
}

a {
    color: var(--color-menuitems);
    text-decoration: none;
    font-family: FrutigerBold;
    text-shadow: 2px 2px 2px var(--somba-menuitems);
}
a:hover {
    color: #0064b4;
}

footer {
    font-family: FrutigerBold;
    font-size: 25px;
    color: var(--color-titulos);
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    text-align: center;
}

#icon1, #icon2, #icon3, #icon4, #icon5 {
    margin-right: 5px;
    align-items: center;
    text-shadow: 2px 2px 2px var(--somba-menuitems);
}

/*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*/
.musicapage {
    display: grid;
    grid-template-columns: 420px 420px 420px;
    grid-template-columns: 0.7fr 2fr 1fr;
    grid-template-areas: 
    "header header header"
    "sidebar content sidebar-two"
    "footer footer footer";
    margin-bottom: 50px;

}

.sidebar {
    grid-area: sidebar;
    width: 250px;
    height: 700px;
    margin: 2%;
    padding-left: 35px;
}

.sidebar-two {
    grid-area: sidebar-two;
    margin: 2%;
    background-image: url('/gif/frutiger1.gif');
    background-size: cover;
    background-position: center;
    width: 250px;
    height: 700px;
    border-radius: 15px;
}

.mcontent {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "art1 art2 art3"
    "art4 art5 art6"
    "art7 art8 art9";
    grid-gap: 15px;
    padding-top: 15px;
}

.mcontent h3 {
    text-shadow: 2px 2px 2px var(--somba-menuitems);
}

.mcontent h3:hover {
    color: #073d8a;
}

.mcontent img {
    box-shadow: 2px 2px 2px var(--somba-menuitems);
    border-style: groove;
}

.mcontent img:hover {
    box-shadow: 5px 5px 2px red;
    border-style: double;
}

.mcontent h3:hover {
    text-shadow: 2px 2px 2px greenyellow;

}

#art1 {
    grid-area: art1;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art2 {
    grid-area: art2;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art3 {
    grid-area: art3;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art4 {
    grid-area: art4;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art5 {
    grid-area: art5;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art6 {
    grid-area: art6;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art7 {
    grid-area: art7;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art8 {
    grid-area: art8;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art9 {
    grid-area: art9;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}

#art10 {
    grid-area: art10;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}
#art11 {
    grid-area: art11;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}
#art12 {
    grid-area: art12;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
}
/*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*//*MUSICA.HTML*/

/*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*/
.icontent {
    grid-area: content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "art1 art2 art3 art10"
    "art4 art5 art6 art11"
    "art7 art8 art9 art12";
    grid-gap: 15px;
    padding-top: 15px;
}

.icontent img {
    box-shadow: 2px 2px 2px var(--somba-menuitems);
    border-style: groove;
}

.icontent img:hover {
    box-shadow: 5px 5px red;
    border-style: groove;
}
/*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*//*IMAGENES.HTML*/

.dcontent {
    grid-area: content;
    padding-top: 25px;
    padding-left: 20px;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "disc1 disc2"
}

.disc1 {
    grid-area: disc1;
    justify-content: center;
    align-items: center;
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
    margin-bottom: 2%;
}

.disc2 {
    grid-area: disc2;
    border-radius: 16px;
    background: rgba(30, 30, 30, 0.4);
    box-shadow: 0px 0px 15px black;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 10px;;
    align-items: center;
    margin-bottom: 2%;
}

.disc2 h3 {
    text-shadow: 2px 2px black;
}